## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\My_Projects\Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Puerto Ayora,-0.7393,-90.3518,80.56,85,26,8.01,EC,2021-06-06 16:21:37,scattered clouds
1,1,Talas,38.6908,35.5538,66.87,32,20,7.31,TR,2021-06-06 16:25:57,few clouds
2,2,Krasnoselkup,65.7000,82.4667,39.33,65,97,11.61,RU,2021-06-06 16:25:59,overcast clouds
3,3,Jamestown,42.0970,-79.2353,83.01,48,1,8.99,US,2021-06-06 16:21:27,clear sky
4,4,Port Alfred,-33.5906,26.8910,65.70,43,0,9.26,ZA,2021-06-06 16:26:01,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like? "))
max_temp = float(input("What is the maximum temperature you would like? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Puerto Ayora,-0.7393,-90.3518,80.56,85,26,8.01,EC,2021-06-06 16:21:37,scattered clouds
3,3,Jamestown,42.0970,-79.2353,83.01,48,1,8.99,US,2021-06-06 16:21:27,clear sky
8,8,Nouadhibou,20.9310,-17.0347,76.98,57,42,16.11,MR,2021-06-06 16:26:06,sand
10,10,Tuy Hoa,13.0833,109.3000,80.02,83,98,5.70,VN,2021-06-06 16:26:09,overcast clouds
15,15,Hithadhoo,-0.6000,73.0833,83.55,71,82,11.86,MV,2021-06-06 16:26:15,broken clouds
24,24,Kirakira,-10.4544,161.9205,79.36,85,42,8.34,SB,2021-06-06 16:26:26,scattered clouds
26,26,Ugoofaaru,5.6667,73.0000,82.72,76,93,13.13,MV,2021-06-06 16:26:29,overcast clouds
27,27,Georgetown,5.4112,100.3354,82.33,86,20,2.30,MY,2021-06-06 16:25:06,few clouds
28,28,Rikitea,-23.1203,-134.9692,76.44,82,97,14.70,PF,2021-06-06 16:26:31,light rain
30,30,Trairi,-3.2778,-39.2689,88.14,53,45,10.27,BR,2021-06-06 16:25:52,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Date                   0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Puerto Ayora,-0.7393,-90.3518,80.56,85,26,8.01,EC,2021-06-06 16:21:37,scattered clouds
3,3,Jamestown,42.0970,-79.2353,83.01,48,1,8.99,US,2021-06-06 16:21:27,clear sky
8,8,Nouadhibou,20.9310,-17.0347,76.98,57,42,16.11,MR,2021-06-06 16:26:06,sand
10,10,Tuy Hoa,13.0833,109.3000,80.02,83,98,5.70,VN,2021-06-06 16:26:09,overcast clouds
15,15,Hithadhoo,-0.6000,73.0833,83.55,71,82,11.86,MV,2021-06-06 16:26:15,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
720,720,Pakxan,18.3778,103.6601,76.87,95,100,1.97,LA,2021-06-06 16:42:41,overcast clouds
721,721,Chiplun,17.5333,73.5167,79.77,86,78,2.15,IN,2021-06-06 16:42:42,broken clouds
722,722,Prado,-17.3411,-39.2208,79.72,64,13,8.32,BR,2021-06-06 16:42:44,few clouds
723,723,Harper,4.3750,-7.7169,80.98,81,83,10.38,LR,2021-06-06 16:42:45,light rain
727,727,Deep River,46.1001,-77.4995,87.44,47,50,7.25,CA,2021-06-06 16:42:51,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description" , "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = None
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,None
3,Jamestown,US,83.01,clear sky,42.0970,-79.2353,None
8,Nouadhibou,MR,76.98,sand,20.9310,-17.0347,None
10,Tuy Hoa,VN,80.02,overcast clouds,13.0833,109.3000,None
15,Hithadhoo,MV,83.55,broken clouds,-0.6000,73.0833,None
24,Kirakira,SB,79.36,scattered clouds,-10.4544,161.9205,None
26,Ugoofaaru,MV,82.72,overcast clouds,5.6667,73.0000,None
27,Georgetown,MY,82.33,few clouds,5.4112,100.3354,None
28,Rikitea,PF,76.44,light rain,-23.1203,-134.9692,None
30,Trairi,BR,88.14,scattered clouds,-3.2778,-39.2689,None

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,Jamestown,US,83.01,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
8,Nouadhibou,MR,76.98,sand,20.9310,-17.0347,El Medina
10,Tuy Hoa,VN,80.02,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
15,Hithadhoo,MV,83.55,broken clouds,-0.6000,73.0833,Scoop Guest House
24,Kirakira,SB,79.36,scattered clouds,-10.4544,161.9205,SanBiz Lodge
26,Ugoofaaru,MV,82.72,overcast clouds,5.6667,73.0000,Ungoofaaru Inn
27,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
28,Rikitea,PF,76.44,light rain,-23.1203,-134.9692,Pension Maro'i
30,Trairi,BR,88.14,scattered clouds,-3.2778,-39.2689,janelas do mar

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].isnull().sum()

16

In [11]:
clean_hotel_df=hotel_df.dropna()

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "C:\My_Projects\Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code </dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))